/* 
#main{
    border: solid ;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(14, 179, 47);
    margin-bottom: 10px;
    
}
.squere{
    height: 50px;
    width: 50px;
    background-color:orange;
    margin-bottom: 10px;
}
.regtangle{
    height: 50px;
    width: 70px;
    background-color:red;
    margin-bottom: 10px;
} */






