

*{
    padding: 0%;
    margin: 0%;
}


.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background:linear-gradient(120deg,rgb(85, 0, 255),rgb(129, 68, 208)) ;
    
    align-items:first baseline;
}
.list{
    width: 500px;
    min-height: 200px;
    padding: 5px;
    background: linear-gradient(120deg,rgb(108, 94, 230),rgb(100,99,200));
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 100px;
    

}
.list span{
    color: maroon;
}
.row{
    padding-top: 5px;
    display: flex;
    align-items: flex-start;
}
.row input{
    margin: 10px;
    padding: 5px;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    font-size: 15px;
}
.row button{
    margin: 10px;
    height:30px;
    width: 80px;
    border-radius: 20px;
    background-color:rgba(242, 90, 25, 0.871);
}

ul{
    margin-left: 50px;
    
}
ul li{
    user-select: none;
}