body{
    text-align: center;

   
}



#main{
    height: 400px;
    width: 400px;
    background-color: red;
    border:  solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}
#main2{
    height: 100px;
    width: 100px;
    background-color: blue;
    border: solid;
    margin: auto;
    border-radius: 50%;
  
}   

